beautifulsoup4==4.11.1
config==0.5.1
decorator==5.1.1
Flask==2.1.2
huggingface-hub==0.7.0
numpy==1.22.4
pandas==1.4.2
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
semver==2.13.0
Send2Trash==1.8.0
stack-data==0.2.0
streamlit==1.9.2
tokenizers==0.12.1
toolz==0.11.2
tqdm==4.64.0
traitlets==5.2.2.post1
transformers==4.19.2
urllib3==1.26.9